.nav-bar {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.nav-txt-color {
  color: #235297 !important;
}
.logo-div {
  width: 98px;
  height: 56px;
  background: #2f5aa8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
